<h1>Hola, <%= @user.email %>!</h1></br>



<p>Estamos muy emocionados porque sabemos que has aprovechado al máximo las guías y comunidad de Business Hackers. Te recordamos que ha caducado tu suscripción a Business Hackers.</p> 

<p>Puedes renovar tu suscripción accediendo a alguno de los planes que te permitirán seguir consultando las guías y participar en la comunidad. Elige tu plan <a href="http://www.businesshackers.how/plans_information?subscription=true">aquí</a>.</p>

<p>Tienes dudas?, escríbenos a help@businesshackers.how. </p>

<p>Laura A,<br>
Content Strategist, Business Hackers</p>