<h1>Hola <%= @user.email %>, Bienvenido a Business Bites!</h1>
<p>
  Haz sido registrado con éxito, para ingresar a la plataforma debes utilizar los siguientes datos:</br>
  </br>
  <strong>Usuario:</strong> <%= @user.email %></br>
  <strong>Contraseña:</strong>  <%= @user.password %>      
</p>
</br>
<p>Para entrar a la plataforma visita el siguiente link: <a href="<%= @url %>" target="_blank">Click Aqui. </a>Gracias por utilizar nuestros servicioes le deseamos un feliz día!</p>