<p>Estamos muy emocionados por poderte ayudar a solucionar los retos que tienes como emprendedor  para la creación y crecimiento  de nuevos negocios.</p>

<p>Ingresa a la plataforma con: </p>

<p>Usuario: <%= @user.email %> </p>
 <p> Contraseña: <%= @user.password %></p>

<p> Recuerda editar tu contraseña <a href="http://www.businesshackers.how/users/password/new">aquí</a>. Sigue los siguientes pasos:</p>

<ol>
	<li>Das click en este <a href="http://www.businesshackers.how/users/password/new">enlace</a>.</li>
	<li>Introduces el correo con el que se ha creado tu cuenta para que te enviemos un email con un enlace que dice "Recuperar mi contraseña". Da click en él.</li>
	<li>Introduces tu nueva contraseña.</li>
	<li>Comienza la diversión!, ya habrás entrado a BusinessHackers con tu contraseña secreta.</li>
</ol>

<p> Gracias a tu patrocinador de suscripción, recuerda que tienes hasta el <%= @deaddate.strftime("%b %d, %Y") %> para interactuar con el <a href="http://community.businesshackers.how/">BusinessHackers Community</a> y disfrutar de <a href="http://www.businesshackers.how/search_by_category">todo el contenido VIP!</a> :) </p>

<p> Cheers! </p>

<p>Laura A,<br>
Content Strategist, Business Hackers</p>