<h1>Hola <%= @user.email %>, Bienvenido a Business Bites VIP!</h1></br>
<p>
  Eres nuevo usuario VIP de business bites.
</p>
</br>
<p>Para entrar a la plataforma visita el siguiente link: <a href="<%= @url %>" target="_blank">Click Aqui. </a>Gracias por utilizar nuestros servicios, le deseamos un feliz día!</p>