<h1>Hola <%= @user.email %>, Bienvenido a Business Bites!</h1></br>
<p>
  Haz sido registrado con éxito, ingresar a la plataforma con los datos que proporcionaste en el formulario de registro.
</p>
</br>
<p>Para entrar a la plataforma visita el siguiente link: <a href="<%= @url %>" target="_blank">Click Aqui. </a>Gracias por utilizar nuestros servicios, le deseamos un feliz día!</p>