<h1>Hola <%= @user.email %>!</h1></br>
<p>De parte de todo nuestro equipo te damos la bienvenida a BusinessBites!</p>
<p>Te has registrado con éxito, y para ingresar a la plataforma sólo debes utilizar el siguiente enlace: <a href="<%= @url %>" target="_blank">Haz click aquí.</a></p> 
<p>Recuerda ingresar con tu dirección de correo y la contraseña que creaste.</p>
<p>Gracias por utilizar nuestros servicios y te deseamos un feliz día! :)</p>
<p>El Equipo BusinessBites</p>