<p>Estamos muy emocionados de que hayas dado el primer paso para convertirte en un BusinessHacker!</p>
<p>Como bienvenida tenemos un regalo para ti: <strong><a href="<%= @url %>" target="_blank">si das click aquí para invitar a 5 amigos</a> a conocer BusinessHackers, podrás acceder a todo el contenido VIP</strong> por una semana, completamente gratis. Sólo pon este correo - help@businesshackers.how - en copia oculta para saber que enviaste los mensajes. Así activaremos tu cuenta VIP y te avisaremos para que empieces a llevar tu negocio o el de tus clientes a otro nivel</p><br>

<p>Cheers</p>

<p>-The BusinessHackers Crew</p>

<p>PD:Recuerda que puedes consultar gratis las guías de muestra, ingresando a la plataforma con tu dirección de correo y la contraseña que creaste.</p>