<h1><%= @user.email %>, bienvenido a la comunidad VIP de Business Hackers!</h1></br>
<p>Estamos muy felices de que hayas dado el primer paso para aprender los mejores hacks de negocios!</p>
<p>Ingresa a la plataforma con tu correo y la contraseña que creaste y empieza a disfrutar de todo el contenido VIP! :).<a href="http://www.businesshackers.how/users/sign_in" target="_blank">Has click aquí para ingresar.</a></p>
<p>Recuerda que puedes personalizar tu perfil cuando hayas ingresado a la plataforma, y así podrás empezar a interactuar con el BusinessHackers Community - nuestro foro exclusivo para miembros VIP - .</p><br>

<p>-The Business Hackers Crew</p>