<p>Estamos muy felices de darte la bienvenida a la comunidad de Business Hackers! </p>

<p>Ingresa a la plataforma con la siguiente información y empieza a aprender las estrategias de negocio más exitosas:</p>

<p>Usuario: <%= @user.email %> </p>
 <p> Contraseña: <%= @user.password %></p>

<p>Haz click <a href="http://www.businesshackers.how/users/sign_in" target="_blank">aquí</a> para ingresar</p>

<p> Gracias a tu patrocinador, recuerda que tienes hasta el <%= @deaddate.strftime("%b %d, %Y") %> para disfrutar de <a href="http://www.businesshackers.how/search_by_category">todas las estrategias VIP</a> e interactuar con el<a href="http://community.businesshackers.how/">BusinessHackers Community</a></p>

<p>Saludos!</p>

<p>Laura A</p>