<h1>Hola, <%= @user.email %>!</h1></br>

<p>Estamos muy emocionados por poderte ayudar a solucionar los retos que tienes como emprendedor  para la creación y crecimiento  de nuevos negocios.</p>

<p>Estás recibiendo este email porque ya eres parte de la comunidad de Business Hackers. Sólo tienes que iniciar sesión con tu correo  <%= @user.email => y la contraseña temporal: 12345678</p>

<p>Recuerda editar tu contraseña <a href="http://www.businesshackers.how/users/password/new">aquí</a>. Sigue los siguientes pasos:</p>

<ol>
	<li>Das click en este <a href="http://www.businesshackers.how/users/password/new">enlace</a>.</li>
	<li>Introduces el correo con el que se ha creado tu cuenta para que te enviemos un email con un enlace que dice "Recuperar mi contraseña". Da click en él.</li>
	<li>Introduces tu nueva contraseña.</li>
	<li>Comienza la diversión!, ya habrás entrado a BusinessHackers con tu contraseña secreta.</li>
</ol>

<p>Tendrás acceso a la plataforma por el período de tiempo que tu patrocinador - Universidad o Empresa - haya comprado para ti. </p>

<p>Comienza a interactuar con la Comunidad  VIP de Business Hackers <a href="http://community.businesshackers.how/">aquí</a></p>

<p>Laura A,<br>
Content Strategist, Business Hackers</p>