<h1>Hola <%= @user.email %>!</h1></br>
<p>Eres un nuevo Miembro VIP de BusinessBites y de parte de todo nuestro equipo te damos la bienvenida.</p>
<p>Para entrar a la plataforma y acceder a todo nuestro contenido, utiliza el siguiente link: <a href="<%= @url %>" target="_blank">Haz click aquí.</a></p> 
<p>Recuerda ingresar con tu dirección de correo y la contraseña que creaste.</p>
<p>Esperamos que disfrutes nuestros servicios y te deseamos un feliz día! :)</p>
<p>El Equipo BusinessBites</p>