<center><h1 style="color:white;background-color: rgb(16, 37, 63)">Preguntas Frecuentes</h1></center><br><br>

<div class="well container" id="policy">

    <h2>Cómo creo una cuenta en Business Hackers?</h2>

    <p>En Business Hackers puedes crear  dos tipos de cuenta. La cuenta gratuita que te permite acceder solamente a las guías de muestra gratis, y la cuenta VIP que te permite acceder a todas las guías y a la comunidad de VIP de Business Hackers</p>

    <p>Si quieres acceder a las guías de muestra gratis, debes crear tu cuenta <span><a href="http://www.businesshackers.how/users/sign_up">aquí</a></span></p>

    <p>Si quieres acceder a TODAS LAS GUÍAS y a la comunidad VIP, debes crear tu cuenta y pagar <span><a href="http://www.businesshackers.how/users/sign_up?course_id=13&subscription_plan=plan_anual">aquí</a></span></p>

    <h2>Por qué unirse a BusinessHackers?</h2>

    <p>Business Hackers es para "doers", aquellos emprendedores que están creando o ayudando a crecer negocios innovadores. La educación tradicional se limita a enseñar teoría, en Business Hackers te ofrecemos las respuestas a las preguntas que siempre aparecen cuando estás construyendo un negocio apalancado en tecnología, y lo mejor, a través de quiénes lo han logrado.</p>

    <p>Sabemos que emprender no es tarea fácil, y mucho menos innovar, es por esto que hemos creado la comunidad de Business Hackers para que puedas hacer preguntas a otros Business Hackers y hacer más fácil tu vida como emprendedor o asesor de nuevos negocios</p>

    <p>Business Hackers es sólo para quienes ejecutan y quieren crear y crecer negocios exitosos, si no eres ejecutor, Business Hackers no es para ti. Empieza <span><a href="http://www.businesshackers.how/search_by_category">ahora</a></span></p>

    <h2>Qué recibo cuando me suscribo?</h2>

    <p>Al suscribirte recibirás acceso a la totalidad del repositorio de guías prácticas para crear y crecer negocios, así como a la comunidad VIP de Business Hackers, lugar donde podrás aclarar dudas respecto a la aplicación de las guías y retos que enfrentes como emprendedor/innovador. Adicionalmente tendrás acceso a todo el contenido nuevo que se cree, para así afrontar los retos que tienes como emprendedor/asesor de negocios</p>

    <h2>Las mejores prácticas que comparten son super especiales y sólo las conocen ustedes?</h2>

    <p>Las mejores prácticas que compartimos podrías encontrarlas si pasas horas todos los días buscando en internet, leyendo libros, asistiendo a cursos especializados, comprando diversos recursos en línea o haciendo entrevistas con emprendedores y profesionales exitosos y luego convirtiendo los aprendizajes en pasos para aplicarlos y validarlos en el mercado; o puedes simplemente empezar a aplicar desde ya las mejores prácticas que sí funcionan, y dejar que nosotros asumamos el riesgo y hagamos todo este trabajo por ti entregándotelas cada semana, ayudándote a ahorrar tiempo y dinero para que te concentres en el desarrollo de tu negocio/profesional.</p>

    <p>El acceso a la comunidad VIP de Business Hackers si es propio de esta, tu plataforma. Bienvenido!</p>

    <h2>Cómo puedo pagar mi suscripción?</h2>

    <p>Actualmente la suscripción la puedes pagar con tarjeta de crédito a través de nuestro pago seguro respaldado por <a href="http://www.stripe.com" target="_blank">Stripe</a></p>

    <h2>Por qué no usan formato video en las guías?</h2>

    <p>Hemos sido usuarios durante años de plataformas con formato video y hemos encontrado que en la mayoría de los casos debes perder mucho tiempo para llegar al punto de lo que necesitas saber.</p>

    <p>El formato especializado de Business Hackers basado en el paso a paso, concreto, práctico, en español, y respaldado por el pensamiento visual,  te permite invertir tu valioso  tiempo en la ejecución y no en consumir aburridos videos que duran horas sin llegar al punto</p>

    <p>Nos centramos en la acción y los resultados, no en "venderte" horas de contenido que te hará perder el tiempo. Sabemos que tu tiempo es lo más valioso, por esos vamos al grano para que tu puedar ir a la acción</p>

    <h2>Qué hago si no tengo tarjeta de crédito?</h2>

    <p><strong>Si no tienes tarjeta de crédito también puedes acceder </strong>escríbenos un correo a <strong>help@businesshackers.how</strong> con el asunto:"Quiero pagar por transferencia bancaria", y te responderemos con las instrucciones. Una vez realizada la transferencia activaremos tu cuenta y listo!, empiezas a disfrutar del servicio</p>

    <h2>Es seguro el pago con tarjeta de crédito?</h2>

    <p>Totalmente. No guardamos la información de tu tarjeta, esto lo hace nuestro aliado estratégico de pagos, la plataforma de pagos seguros de Estados Unidos <a href="http://www.stripe.com" target="_blank">Stripe</a> </p>

    <h2>Quién está detrás de Business Hackers</h2>

    <p>Un grupo de emprendedores y advisors en innovación y emprendimiento que por necesidad propia constantemente seleccionamos y aplicamos las mejores prácticas para crear y crecer negocios y ahora queremos compartirlas con los emprendedores y profesionales de Latinoamérica. Aplicables, concretas, actualizadas y en español. Centradas en la acción y en los resultados, no "bullshit"</p>

    <h2>Cómo recupero mi clave si la perdí?</h2>
    <p>Recupera tu clave - contraseña -  dando click en el siguiente enlace: <span><a href="http://www.businesshackers.how/users/password/new">recuperar clave</a></span></p>

    <h2>Estoy sujeto a permanencia con el servicio por largo tiempo?</h2>

    <p>NO. Puedes cancelar en cualquier momento así como volverte a unir si consideras valioso disminuir el riesgo de crecer tu negocio ahorrando tiempo y dinero. Conoce las políticas del servicio <span><a href="http://www.businesshackers.how/politicas_servicio">aquí</a></span></p>

    
    <h2>Puedo ver el contenido una vez acabe el período de suscripción?</h2>

    <p>Una vez acabe o canceles tu suscripción, no podrás acceder al contenido ni a la comunidad VIP</p>

    <h2>A dónde escribo si tengo una duda adicional o un problema con mi cuenta?</h2>

    <p>Escríbenos a help@businesshackers.how y te responderemos a la mayor brevedad posible, siempre pensando en que tu tiempo es lo más valioso que tienes</p>

    <br><br><br>

    <%= link_to "EMPEZAR A APRENDER", search_by_category_path,class: "btn-primary btn-lg"%>
</div>