<center><h1 style="color:white;background-color: rgb(16, 37, 63)">Políticas de Servicio BusinessHackers</h1></center><br><br>

<div class="well container" id="policy">

    <h2>Política de privacidad de la información</h2>

    <p>En BusinessHackers estamos comprometidos con la protección de la privacidad de nuestros usuarios. El propósito de esta declaración es informarte cómo definimos, recogemos y utilizamos la información de identificación personal. Tomaremos pasos razonables para proteger la privacidad del usuario, consistentemente con los lineamientos que se exponen en esta política y en la normatividad legal. Al utilizar este sitio, estás procurando tu consentimiento con la siguiente política de privacidad. </p>

    <p>Esta política de privacidad se modificó por última vez el 10 de enero de 2015.</p>


    <h3>Información personal</h3>

    <p>La información personal se recoge al llenar un formulario, procesar una orden, o al iniciar sesión. En ningún momento almacenamos o manejamos la información de tu tarjeta de crédito directamente, esto lo hace de manera totalmente segura nuestro proveedor de pagos <a href="http://www.stripe.com" target="_blank">Stripe</a></p>

    <p>Los cookies se utilizan para almacenar información sobre tu sesión actual y otras preferencias. Esta información se puede utilizar para rastrear el progreso tuyo como usuario y ofrecerte una experiencia más personalizada en tu aprendizaje, al saber qué tipo de guías te gustan más.  Los cookies se pueden inhabilitar o borrar en las configuraciones de tu navegador web.</p>


    <h3> Terceros </h3>

    <p>No vendemos, intercambiamos o transferimos información de usuarios con terceros. Esto no incluye a los terceros partidos confiables que nos asisten en la operación de nuestro sitio, en la efectuación de asuntos de negocios o en la prestación de servicios, mientras estos terceros partidos acuerden mantener esta información confidencial. También se podría hacer pública la información en cuanto consideremos que sea necesario por ley, para hacer cumplir nuestras políticas o para proteger nuestros derechos, propiedad o seguridad, y los de los demás. En nigún caso esta información se relaciona con datos de tu tarjeta de crédito pues BusinessHackers no la almacena sino nuestro proveedor de pagos seguros</p>

    <p>Todos los sitios de terceros a los que se dan enlaces tienen políticas de privacidad independientes. Por tanto, no nos hacemos responsables por el contenido y las actividades que se realicen en estos sitios.</p>

    <h2>Política de los planes de suscripción que te ofrecemos</h2>

    <p>Todo plan podrá ser cancelado enviando un correo a help@businesshackers.how con el asunto "deseo cancelar mi plan". El correo del remitente debe conincidir con el correo del usuario que desea cancelar el plan, por razones de seguridad y con el ánimo de evitar suplantaciones de identidad.</p>

    <p>Si has comprado un plan mensual y decides cancelar el servicio,  no se generará un nuevo cargo a tu tarjeta de crédito si la cancelación del plan mensual la realizas antes de que se cumpla un mes desde el momento en el que compraste dicho plan. No se realizarán reembolsos de dinero si se cancela la mensualidad antes de terminar el mes</p>

    <p>Si has comprado un plan anual y decides cancelar el servicio,  no se generará un nuevo cargo a tu tarjeta de crédito si la cancelación del plan anual la realizas antes de que se cumpla un año desde el momento en que compraste dicho plan. No se realizarán reembolsos de dinero si se cancela la anualidad antes de completar el año</p>

    <p>Siempre buscamos prestarte un excelente servicio. Este producto ha sido creado por emprendedores para emprendedores. Si tienes dudas escríbenos a help@businesshackers.how</p> <br><br>

    <%= link_to "EMPEZAR A APRENDER", search_by_category_path,class: "btn-primary btn-lg"%>
</div>