<header class="main-header" id="topic_header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="page-title" id="title-topic">Bienvenido a Business Hackers!, ahora puedes leer todas las estrategias gratuitas!</h3>
        </div>
      </div>
    </div>
</header>


<div class="container" id="first_topic_video">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-primary">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GOTYDOXjqxY?wmode=transparent"></iframe>
          
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="video_actions">
  	<div class="col-md-10 col-md-offset-1 text-center">
      <% if @previous_url %>
        <%= link_to "LEER LA ESTRATEGIA", @previous_url, class: "btn btn-ar btn-primary" %>
      <% else %>
        <%= link_to "VER GUÃAS", search_by_category_path, class: "btn btn-ar btn-primary" %>
      <% end %>
  		<%= link_to "SUSCRIBIRME Y ACCEDER A TODAS LAS ESTRATEGIAS", new_subscription_path, class: "btn btn-ar btn-warning" %>
  	</div>
  </div>
</div>