<header class="main-header" id="topic_header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="page-title" id="title-topic">FELICITACIONES, ERES SUSCRIPTOR DE BUSINESS BITES</h3>
        </div>            
      </div>                
    </div>
</header>


<div class="container" id="first_topic_video">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-primary">                
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bk6Xst6euQk?wmode=transparent"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="video_actions">
  	<div class="col-md-10 col-md-offset-1 text-center">
  		<%= link_to "EMPEZAR A APRENDER", root_path(anchor: 'user-courses'), class: "btn btn-ar btn-lg btn-warning" %>  		
  	</div>
  </div>
</div>