<p>Hola <%= @resource.email %>!</p>

<p>Hemos recibido una petición para restablecer tu contraseña. Puedes realizar el cambio haciendo click en el siguiente link:</p>

<p><%= link_to 'Recuperar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no realizaste esta solicitud, por favor ignora este mensaje.</p>
<p>Tu contraseña no se actualizará hasta que accedas al siguiente link y completes el formulario creando una nueva contraseña.</p>