<p>Hola <%= @resource.email %>!</p>

<p>Hemos recibido una petición  para restablecer tu contraseña.</p>

<p>Tu contraseña no se actualizará hasta que accedas al siguiente link y completes el formulario para crear una nueva</p>

<p><%= link_to 'Recuperar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no realizaste esta solicitud, tu contraseña permanecerá igual.</p>

<p>Saludos,</p>

<p>El equipo Business Hackers</p>

