<p>Hello <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada debido a un exceso de intentos fallidos para ingresar a la plataforma</p>

<p>Has click en el siguiente enlace para desbloque tu cuenta y puedas seguir aprendiendo de los empresarios y expertos exitosos:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
